
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}

.center-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.center-w3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
